.*\~
/compass/**
**/platformhome.properties
**/resources/generated-.*web-spring.xml
/lib
/hybris-*\.zip
/hybris/temp
/hybris/data/**
/hybris/log/**
/hybris/config/**
/hybris/hybris/data/**
/hybris/bin/hybris.version
/hybris/bin/telco.version
/hybris/bin/ext*/**
/hybris/bin/platform/**
/hybris/bin/modules/**
/hybris/config/.externalToolBuilders
/dist
**/.idea
/velocity.log
**/extensioninfo.xsd
**/hmc.xsd
**/items.xsd
**/beans.xsd
**/.settings/**
*.iml
**/*testclasses.xml
*.eml
**/*.iml
*.class
*-testclasses.xml
*-webtestclasses.xml
.metadata/*
.sass-cache
.classpath

test-reports/*
*.sublime-*
.DS_Store
velocity.log

.lastupdate
*platformhome.properties

hybris/bin/**/gensrc
hybris/bin/**/eclipsebin
hybris/bin/custom/**/gensrc/**
hybris/bin/custom/**/bin/**
hybris/bin/custom/**/eclipsebin/**
hybris/bin/custom/**/classes/**
hybris/bin/custom/**/hmc/classes/**
hybris/bin/custom/**/hmc/bin/**
hybris/bin/custom/**/build.xml
hybris/bin/custom/**/testclasses/**/*.class

hybris/bin/custom/**/web/addonsrc/**
hybris/bin/custom/**/web/commonwebsrc/**
hybris/bin/custom/**/web/webroot/_ui/addons/**
hybris/bin/custom/**/web/webroot/cscockpit/*
hybris/bin/custom/**/web/webroot/cmscockpit/*
hybris/bin/custom/**/web/webroot/productcockpit/*
hybris/bin/custom/**/web/webroot/cockpit/*
hybris/bin/custom/**/web/webroot/_ui/addons/b2ccheckoutaddon/*
hybris/bin/custom/**/web/webroot/WEB-INF/messages/addons/b2ccheckoutaddon/*
hybris/bin/custom/**/web/webroot/WEB-INF/tags/addons/b2ccheckoutaddon/*
hybris/bin/custom/**/web/webroot/WEB-INF/views/addons/b2ccheckoutaddon/*
hybris/bin/custom/**/web/webroot/WEB-INF/messages/addons/*
hybris/bin/custom/**/web/webroot/WEB-INF/tags/addons/*
hybris/bin/custom/**/web/webroot/WEB-INF/views/addons/*
hybris/bin/custom/**/web/webroot/WEB-INF/tld/addons/*
hybris/bin/custom/**/web/webroot/WEB-INF/lib/addon-captchaaddon-recaptcha4j-*
hybris/bin/custom/**/web/webroot/WEB-INF/_ui-src/addons/*
build/config/developer.properties
hybris/bin/dummy.txt
hybris/bin/custom/**/resources/backoffice/smbackoffice_bof.jar
